{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
	{{form_widget(form._token)}}
	{{form_errors(form)}}
    {{ form_row(form.email) }}
    {{ form_row(form.firstName,{'label':'First Name'}) }}
    {{ form_row(form.lastName,{'label':'Last Name'}) }}
    {{ form_row(form.current_password) }}
    <div class "btn-group" role="group">
    	<a class="btn btn-default btn-lg" href="{{path('fos_user_profile_show')}}" role="button"><i class="fa fa-arrow-left"> </i> Back</a>
        <input type="submit" class="btn btn-lg btn-primary" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
