    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th><i class="fa fa-user"></i></th>
                <th>Name</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr data-id="{{ task.id }}" data-href="{{ path('tasks_edit', { 'id': task.id }) }}">
                <td>{{ task.assignee ? task.assignee }}</td>
                <td>{{ task.name }}</td>
                <td>{% if task.due %}{{ task.due|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><i class="fa fa-user"></i></td>
                <td><input type="text" class="form-control narrow" /></td>
                <td><input type="text" class="form-control narrow datetimepicker" /></td>
            </tr>
        </tfoot>
    </table>
    <a class="btn btn-default new" href="{{path('tasks_new', {'project_id': project.id})}}">Add</a>