    <table class="records_list table table striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Project</th>
                <th>Name</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a class='edit' href="{{ path('tasks_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.client ? entity.client.companyName }}</td>
                <td>{{ entity.project ? entity.project.name }}</td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.due %}{{ entity.due|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>