  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('goldfish_homepage') }}">Goldfish</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li{% if route == 'goldfish_homepage' %} class="active"{% endif %}><a href="{{ path('goldfish_homepage') }}">Home</a></li>
            <li{% if route == 'clients' %} class="active"{% endif %}><a href="{{ path('clients') }}">Clients</a></li>
            <li{% if route == 'project' %} class="active"{% endif %}><a href="{{ path('project') }}">Projects</a></li>
            <li{% if route == 'tasks' %} class="active"{% endif %}><a href="{{ path('tasks') }}">Tasks</a></li>
          </ul>
          {% if app.user %}
          <ul class="nav navbar-nav navbar-right">
            <li class='dropdown'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.email}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                {% for workspace in app.user.workspaces %}
                <li><i class="fa fa-tick"> </i><a>{{workspace.name}}</a></li>
                {% endfor %}
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!--/.nav-collapse -->
      </div>
    </nav>