{% extends 'DarkbluesunGoldfishBundle::base.html.twig' %}

{% block body -%}
    <div class="page-header">
        <a href="{{ path('clients_new') }}" class="btn btn-lg btn-default new" style="float:right;"><i class="fa fa-plus"> </i> Add</a>
        <h1>Client list</h1>
    </div>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Company name</th>
                <th>Website</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Contact name</th>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr data-href="{{ path('clients_edit', { 'id': entity.id }) }}" data-id="{{ entity.id }}">
                <td>{{ entity.companyName }}</td>
                <td>{{ entity.website }}</td>
                <td>{{ entity.phone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.contactName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
