    <table class="table table-striped records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Duedate</th>
                <th>Budget</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr data-href="{{ path('project_edit', { 'id': project.id }) }}" data-id="{{ project.id }}">
                <td>{{ project.name }}</td>
                <td>{{ project.dueDate.format('d/m/y') }}</td>
                <td>{{ project.budget }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default new" href="{{path('project_new', {'client_id': client.id})}}">Add</a>